---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogList from '../../components/blog/BlogList.astro';
---

<BaseLayout title="Far Light - Blog">
  <main>
    <BlogList />
  </main>
</BaseLayout>
