---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogList from '../../components/blog/BlogList.astro';
---

<BaseLayout title="Blog | Minimal">
  <main>
    <BlogList />
  </main>
</BaseLayout>
