---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro"
import Footer from "@/components/global/Footer.astro"
import GradientHalo from "@/components/global/GradientHalo.astro"

interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const { 
  title = "Far Light",
  image,
  description
} = Astro.props;
---

<html lang="en" class="scroll-smooth selection:bg-black selection:text-white">
  <head>
    <BaseHead title={title} image={image} description={description} />
  </head>
  <body class="bg-zinc-100 flex flex-col min-h-screen relative overflow-x-hidden">
    <GradientHalo /> 
    {/* 减少移动端水平内边距: px-6 -> px-5 */}
    <div class="relative z-20 w-full max-w-screen-xl mx-auto md:flex flex-col flex-grow">
      <Navigation/>
      <main class="flex-grow"><slot /></main>
      <Footer/>
    </div>
  </body>
</html>
