---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro"
import Footer from "@/components/global/Footer.astro"
import GradientHalo from "@/components/global/GradientHalo.astro"

interface Props {
  title?: string;
}

const { title = "Far Light" } = Astro.props;
---

<html lang="en" class="scroll-smooth selection:bg-black selection:text-white">
  <head>
    <BaseHead title={title} />
  </head>
  <body class="bg-zinc-100 flex flex-col min-h-screen mx-auto 2xl:max-w-screen-xl relative">
    <GradientHalo />
    <Navigation/>
    <main class="flex-grow"><slot /></main>
    <Footer/>

  </body>
</html>
